
@import url(https://fonts.googleapis.com/css2?family=Girassol&family=Manrope:wght@200;300;400;500;523;600;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
/*

added import*/

body,html {


background-color: #333;
text-align: center;
height: 100%;
}






#para{
	
	 padding-left: 20px; 
	 padding-right:20px;
	
	
}

#para ul,li{
		font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: white;
	text-align: justify;
	
	
	
}




#navi {
	 box-shadow: 5px 6px 8px 6px #2B2B2B;
	
	 margin:0px auto;
    left:0px;
    right:0px;
	
	margin:0 auto;
	list-style:none;
	background-color:gray;
	 position: fixed; /* Set the navbar to fixed position */
	  top: 0; /* Position the navbar at the top of the page */
	  width: 100%; /* Full width */
	
	
}

#navi li {
	height:28px;
	float:left;
	display: inline;
        line-height: 0px;
       
	
}



#navi ul {
  list-style-type: none;

 
  
}

#navi a {
	
	
	display:block;
	
	width:150px; /* fixed width */
	
	text-decoration:none; 
	font-family: 'Montserrat', sans-serif;
}

#navi a:hover {
  color: #111;
}


#aboutMe{
	padding:10px;
	padding-bottom: 40px; 
	padding top: 20px;
	max-Height:500px;
	min-Height:500px;
	
	
	border-color:#575757;
	background-color:#575757;
}

#contact{
	
	padding:10px;
	padding-bottom: 20px; 
	padding top: 20px;
	border-color:#575757;
	background-color:#575757;
}

#projects{
	padding:10px;
	padding-bottom: 60px; 
	padding top: 20px;
	

	
	
}

#maint{
	
	
	
	text-shadow: 4px 4px #0D0D0D; 
	letter-spacing: 10px;
	text-color: white;
	letter-spacing: 10px;
	font-size: 25pt;
	font-weight: boldest;
}


 a {
	
	color: #4F80B2;
	
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */



#main{
	width: 1000px;
	height: 4100px;
	background: #363636;
	margin: 25px auto;
	border:	soild 20px #34495E;
	
}

h1{
	
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: boldest;
	color: white;
	font-size:40pt;
	
	
}

h2{
	
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 30pt;
	color: white;
	
}

h3{
	
	
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 18pt;
	color: white;
	
}

hr{
	
	height:10px;
	background-color: #575757;
	border-color: #575757;
}

  p {
  
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: white;
	text-align: justify;
	
}

span {
	
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: white;
	text-align: justify;
	align: left;

}

table{
	 border-spacing: 50px;
	border: solid 15px #34495E;
  border-collapse: collapse;
  
  text-align:center;
   
  background-color: gray;
  
  
}

td {
  
  padding: 20px;
  
}

th{
	padding: 25px;
	
	
}
	
	